In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.utils import shuffle
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle
import seaborn as sns

In [2]:
df=pd.read_csv("imports-85.data")

In [3]:
df.columns=["symboling" ,"normalized-losses","make",  "fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length","width","height","curb-weight","engine-type","num-of-cylinders","engine-size",            
  "fuel-system",
 "bore",           
 "stroke",                   
  "compression-ratio",       
  "horsepower",              
 "peak-rpm",               
  "city-mpg",                
  "highway-mpg",              
  "price"  ]
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [4]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
df.dropna(how='any')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [6]:
df.replace('[?]', np.nan, regex=True, inplace=True)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [7]:
df.isnull().sum()

symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [8]:
df.dropna(how='any',inplace=True)
# df.drop(['index'],axis=1,inplace=True).reset_index()
df.reset_index()

,index,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,2,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
1,3,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
2,5,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
3,7,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
4,9,2,192,bmw,gas,std,two,sedan,rwd,front,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,199,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
155,200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
156,201,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
157,202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
158,203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [9]:
df.duplicated().sum(), df.isnull().sum()

(0,
 symboling            0
 normalized-losses    0
 make                 0
 fuel-type            0
 aspiration           0
 num-of-doors         0
 body-style           0
 drive-wheels         0
 engine-location      0
 wheel-base           0
 length               0
 width                0
 height               0
 curb-weight          0
 engine-type          0
 num-of-cylinders     0
 engine-size          0
 fuel-system          0
 bore                 0
 stroke               0
 compression-ratio    0
 horsepower           0
 peak-rpm             0
 city-mpg             0
 highway-mpg          0
 price                0
 dtype: int64)

In [10]:
df=df.drop('drive-wheels',axis=1)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
2,2,164,audi,gas,std,four,sedan,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,1,158,audi,gas,std,four,sedan,front,105.8,192.7,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,158,audi,gas,turbo,four,sedan,front,105.8,192.7,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,front,101.2,176.8,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [11]:
df=pd.get_dummies(df,columns=['make','fuel-type','aspiration','num-of-doors','body-style','engine-location','fuel-system','engine-type','num-of-cylinders'])

In [12]:
df

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,engine-type_dohc,engine-type_l,engine-type_ohc,engine-type_ohcf,engine-type_ohcv,num-of-cylinders_eight,num-of-cylinders_five,num-of-cylinders_four,num-of-cylinders_six,num-of-cylinders_three
2,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,0,1,0,0,0,0,1,0,0
3,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,0,1,0,0,0,1,0,0,0
5,1,158,105.8,192.7,71.4,55.7,2844,136,3.19,3.40,...,0,0,1,0,0,0,1,0,0,0
7,1,158,105.8,192.7,71.4,55.9,3086,131,3.13,3.40,...,0,0,1,0,0,0,1,0,0,0
9,2,192,101.2,176.8,64.8,54.3,2395,108,3.50,2.80,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0,0,1,0,0,0,0,1,0,0
200,-1,95,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,0,1,0,0,0,0,1,0,0
201,-1,95,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,0,0,0,1,0,0,0,1,0
202,-1,95,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0,0,1,0,0,0,0,0,1,0
203,-1,95,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0,0,1,0,0,0,0,1,0,0

In [34]:
df['price']=pd.to_numeric(df['price'])
df['stroke']=pd.to_numeric(df['stroke'])
df['normalized-losses']=pd.to_numeric(df['normalized-losses'])
df['bore']=pd.to_numeric(df['bore'])
df['horsepower']=pd.to_numeric(df['horsepower'])
df['peak-rpm']=pd.to_numeric(df['peak-rpm'])
mean , std= df.price.mean(), df.price.std()
upper= mean + (2*std)
lower=mean -(2*std)
upper , lower

(19606.116862961528, 1645.3831370384723)

In [35]:
df= df[(df.price<upper)].reset_index()
df.drop(['index'],axis=1,inplace=True)
df

,level_0,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,...,engine-type_dohc,engine-type_l,engine-type_ohc,engine-type_ohcf,engine-type_ohcv,num-of-cylinders_eight,num-of-cylinders_five,num-of-cylinders_four,num-of-cylinders_six,num-of-cylinders_three
0,0,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,...,0,0,1,0,0,0,0,1,0,0
1,1,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,...,0,0,1,0,0,0,1,0,0,0
2,2,1,158,105.8,192.7,71.4,55.7,2844,136,3.19,...,0,0,1,0,0,0,1,0,0,0
3,3,2,192,101.2,176.8,64.8,54.3,2395,108,3.50,...,0,0,1,0,0,0,0,1,0,0
4,4,0,192,101.2,176.8,64.8,54.3,2395,108,3.50,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,144,-1,74,104.3,188.8,67.2,57.5,3042,141,3.78,...,0,0,1,0,0,0,0,1,0,0
141,145,-2,103,104.3,188.8,67.2,56.2,3045,130,3.62,...,0,0,1,0,0,0,0,1,0,0
142,146,-1,74,104.3,188.8,67.2,57.5,3157,130,3.62,...,0,0,1,0,0,0,0,1,0,0
143,147,-1,95,109.1,188.8,68.9,55.5,2952,141,3.78,...,0,0,1,0,0,0,0,1,0,0
144,148,-1,95,109.1,188.8,68.8,55.5,3049,141,3.78,...,0,0,1,0,0,0,0,1,0,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 63 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   level_0                 145 non-null    int64
 1   symboling               145 non-null    int64
 2   normalized-losses       145 non-null    int64
 3   wheel-base              145 non-null    float64
 4   length                  145 non-null    float64
 5   width                   145 non-null    float64
 6   height                  145 non-null    float64
 7   curb-weight             145 non-null    int64
 8   engine-size             145 non-null    int64
 9   bore                    145 non-null    float64
 10  stroke                  145 non-null    float64
 11  compression-ratio       145 non-null    float64
 12  horsepower              145 non-null    int64
 13  peak-rpm                145 non-null    int64
 14  city-mpg                145 non-null    int64
 15  highway-mpg             145 non-null    int64
 16  price                   145 non-null    int64
 17  make_audi               145 non-null    uint8
 18  make_bmw                145 non-null    uint8
 19  make_chevrolet          145 non-null    uint8
 20  make_dodge              145 non-null    uint8
 21  make_honda              145 non-null    uint8
 22  make_jaguar             145 non-null    uint8
 23  make_mazda              145 non-null    uint8
 24  make_mercedes-benz      145 non-null    uint8
 25  make_mitsubishi         145 non-null    uint8
 26  make_nissan             145 non-null    uint8
 27  make_peugot             145 non-null    uint8
 28  make_plymouth           145 non-null    uint8
 29  make_porsche            145 non-null    uint8
 30  make_saab               145 non-null    uint8
 31  make_subaru             145 non-null    uint8
 32  make_toyota             145 non-null    uint8
 33  make_volkswagen         145 non-null    uint8
 34  make_volvo              145 non-null    uint8
 35  fuel-type_diesel        145 non-null    uint8
 36  fuel-type_gas           145 non-null    uint8
 37  aspiration_std          145 non-null    uint8
 38  aspiration_turbo        145 non-null    uint8
 39  num-of-doors_four       145 non-null    uint8
 40  num-of-doors_two        145 non-null    uint8
 41  body-style_convertible  145 non-null    uint8
 42  body-style_hardtop      145 non-null    uint8
 43  body-style_hatchback    145 non-null    uint8
 44  body-style_sedan        145 non-null    uint8
 45  body-style_wagon        145 non-null    uint8
 46  engine-location_front   145 non-null    uint8
 47  fuel-system_1bbl        145 non-null    uint8
 48  fuel-system_2bbl        145 non-null    uint8
 49  fuel-system_idi         145 non-null    uint8
 50  fuel-system_mfi         145 non-null    uint8
 51  fuel-system_mpfi        145 non-null    uint8
 52  fuel-system_spdi        145 non-null    uint8
 53  engine-type_dohc        145 non-null    uint8
 54  engine-type_l           145 non-null    uint8
 55  engine-type_ohc         145 non-null    uint8
 56  engine-type_ohcf        145 non-null    uint8
 57  engine-type_ohcv        145 non-null    uint8
 58  num-of-cylinders_eight  145 non-null    uint8
 59  num-of-cylinders_five   145 non-null    uint8
 60  num-of-cylinders_four   145 non-null    uint8
 61  num-of-cylinders_six    145 non-null    uint8
 62  num-of-cylinders_three  145 non-null    uint8
dtypes: float64(7), int64(10), uint8(46)
memory usage: 25.9 KB

In [37]:
X=df.drop('price',axis=1)
y=df['price']

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=42)

In [40]:
lr=LinearRegression()
lr.fit(X_train,y_train)
acc=lr.score(X_test,y_test)
acc

0.8432014904335083

In [47]:
prediction=lr.predict(X_test)
prediction

array([19981.15783293, 14608.26250369,  9809.16498042,  7393.78846016,
        5769.84841138, 10919.53856255, 15592.74489342,  8222.19236497,
       17465.16458879,  8912.45416222,  7452.27508205,  6916.58320065,
       14574.5864111 ,  7253.65345083, 17211.50862266])

In [13]:
data=pd.read_csv('weather.data', parse_dates=['day'])

In [14]:
data

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [15]:
 data.set_index('day')

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [16]:
new_df=data.fillna(0)
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          0.0        9.0   Sunny
2 2017-01-05         28.0        0.0    Snow
3 2017-01-06          0.0        7.0       0
4 2017-01-07         32.0        0.0    Rain
5 2017-01-08          0.0        0.0   Sunny
6 2017-01-09          0.0        0.0       0
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [17]:
new_df=data.fillna({
    'temperature': 0,
    'windspeed': 0,
    'event':'no-event'
})
new_df

         day  temperature  windspeed     event
0 2017-01-01         32.0        6.0      Rain
1 2017-01-04          0.0        9.0     Sunny
2 2017-01-05         28.0        0.0      Snow
3 2017-01-06          0.0        7.0  no-event
4 2017-01-07         32.0        0.0      Rain
5 2017-01-08          0.0        0.0     Sunny
6 2017-01-09          0.0        0.0  no-event
7 2017-01-10         34.0        8.0    Cloudy
8 2017-01-11         40.0       12.0     Sunny

In [18]:
new_df=data.fillna(method='ffill')

In [19]:
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         32.0        9.0   Sunny
2 2017-01-05         28.0        9.0    Snow
3 2017-01-06         28.0        7.0    Snow
4 2017-01-07         32.0        7.0    Rain
5 2017-01-08         32.0        7.0   Sunny
6 2017-01-09         32.0        7.0   Sunny
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [20]:
new_df=data.fillna(method='bfill')

In [21]:
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04         28.0        9.0   Sunny
2 2017-01-05         28.0        7.0    Snow
3 2017-01-06         32.0        7.0    Rain
4 2017-01-07         32.0        8.0    Rain
5 2017-01-08         34.0        8.0   Sunny
6 2017-01-09         34.0        8.0  Cloudy
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [22]:
new_df=data.interpolate()

In [23]:
new_df

         day  temperature  windspeed   event
0 2017-01-01    32.000000       6.00    Rain
1 2017-01-04    30.000000       9.00   Sunny
2 2017-01-05    28.000000       8.00    Snow
3 2017-01-06    30.000000       7.00     NaN
4 2017-01-07    32.000000       7.25    Rain
5 2017-01-08    32.666667       7.50   Sunny
6 2017-01-09    33.333333       7.75     NaN
7 2017-01-10    34.000000       8.00  Cloudy
8 2017-01-11    40.000000      12.00   Sunny

In [24]:
new_df=data.interpolate(method='time')
new_df

ValueError: time-weighted interpolation only works on Series or DataFrames with a DatetimeIndex

In [ ]:
df_1=data.dropna()

In [ ]:
df_1

In [ ]:
df_1=data.dropna(axis=1)

In [ ]:
df_1

In [ ]:
df_1=data.dropna(how='all')

In [ ]:
df_1

In [ ]:
df_1=data.dropna(how='any')
df_1

In [ ]:
df_1=data.dropna(thresh=2)
df_1

In [ ]:
df=data.interpolate(method='time',inplace=True)
df=data.fillna({
    'event':'none'
})
df

In [ ]:
from sklearn.preprocessing import LabelEncoder
lin=LabelEncoder()
df['event']=lin.fit_transform(list(df['event']))
df

In [ ]:
df.set_index(np.arange(9),inplace=True)
df['date']=data['day']
df

In [ ]:
df.groupby(['temperature'])['event'].mean().reset_index()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
sns.set_theme(style='darkgrid')
plt.figure(figsize=(10,60))
sns.barplot(y='temperature',x='date',hue='event',data=df)
plt.show()

In [ ]:
df_2=pd.DataFrame({
    'score':['exceptional','average','good','poor','average','exceptional'],
    'student':['rob','maya','parthiv','tom','julian','erica']
})
df_2

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe=OneHotEncoder()

In [ ]:
df_2['score']=ohe.transform(list(df['score']))